.content{
    display: flex;
}
.app{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    border-top:1px solid #ccc;
    border-left: 1px solid #ccc;
}
.wrap{
    width: 33%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    padding:10px;
    overflow: hidden;
    box-sizing: border-box;   
}
.wrap_p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
h2{
    padding: 0;
}
