:global {
  .row {
    height: 60px;
  }
  .tag {
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .ant-table-wrapper{
      width: 100% ;
  }
  // .ant-table-tbody{
  //     width: 100%;
  // }
  .boxs{
      width: 100% !important;
  }
}
