<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      img,
      .imgs {
        width: 800px;
        height: auto;
      }
    </style>
  </head>

  <body>
    <canvas
      id="canvas"
      style="width: 300px;height: 300px;border: 1px solid #ccc"
    ></canvas>
    <input type="file" accept="image/*" type="file"" name="imageFile"
    onchange="upload()">
    <br />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      var canvas = document.querySelector("#canvas");
      var context = canvas.getContext("2d");
      var img = document.querySelector(".img");
console.log(context)
    //   context.drawImage("./QQ图片20180112205113.jpg",0,0,img.width,img.height);
      function upload() {
        let file = document.querySelector("input[type=file]").files[0]; // 获取选择的文件，这里是图片类型
        let reader = new FileReader();
        reader.readAsDataURL(file); //读取文件并将文件以URL的形式保存在resulr属性中 base64格式
        reader.onload = function(e) {
          // 文件读取完成时触发
          let result = e.target.result; // base64格式图片地址
          var image = new Image();
          image.src = result; // 设置image的地址为base64的地址
          image.onload = function() {
            canvas.width = image.width; // 设置canvas的画布宽度为图片宽度
            canvas.height = image.height;

            context.drawImage(image, 0, 0, image.width, image.height); // 在canvas上绘制图片
            let dataUrl = canvas.toDataURL("image/jpeg", 0.92); // 0.92为压缩比，可根据需要设置，设置过小会影响图片质量
            // dataUrl 为压缩后的图片资源，可将其上传到服务器
          };
        };
      }
    </script>
  </body>
</html>
