.wrap {
  height: 100%;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
  z-index: 9;
}
.logo {
  width: 120px;
  vertical-align: middle;
}
.leftside {
  background-color: #232a41;
  overflow-y: auto;
  width: 300px;
}
.loading{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  animation:fadeIn 2s ease-in;
}
.content{
  position: relative;
}

:global {
  .ant-btn-primary{
    padding: 0 40px!important;
    background: linear-gradient(-90deg,#4e75ff,#0139fd)!important;
  }
  .ant-table-row td{
    vertical-align: middle;
  }
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}